<h1>Establishments</h1>


<div class="media">
  <% @establishments.each do |establishment| %>
    <div class="media-left media-middle">
      <a href="#">
      <%= link_to image_tag(establishment.image.url(:medium) ,class: "img-circle", height: '200', width: '200' ), establishment%>
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading"><%= establishment.name %></h4>
      <p><%= establishment.description %></p>
    </div>
    <br>
  <% end %>
</div>